case_recommendation
Kaggle
MBK_competition
Task1/Others_Works
Task1/.ipynb_checkpoints
Task1/доклад-текст.docx
Task2/z2_доклад.docx
Task2/.ipynb_checkpoints
Compare_boosting/.ipynb_checkpoints
Compare_boosting/catboost_info
